@page "/"

@if(players!=null) {
    <table>
        <tr><th>Name</th><th>Farm</th><th>Progress</th></tr>
    @foreach(var player in players) {
        var statistics = GetStatistics(player.Id);
        Console.WriteLine(string.Join(", ", statistics.Data.Keys));
        if(statistics.Data.ContainsKey("Farm")) {
            <tr><td>@player.Name</td><td>@statistics.Data["Farm"]</td><td>@statistics.Data["Progress"]</td></tr>
        }
    }
    </table>
} else {
    <p>Loading</p>
}